ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

h3 {
    color: #212121;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}
.ws-link {
    /* WebStudio */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
}

.web {
    /* WebStudio */
    color: #2196F3
}

a.nav-links:link {color: #212121;}
a.nav-links:visited {color: #212121;}
a.nav-links:hover {color: #2196F3;}
a.nav-links:active {color: #212121;}

a.contact-links:link {color: #757575}
a.contact-links:visited {color: #757575}
a.contact-links:hover {color: #2196F3}
a.contact-links:active {color: #757575}

.contact-icon:hover {
    fill: #2196F3;
}

a.nav-links.agency::after {
    content: "";
    display: block;
    position: relative;
    top: 25.5px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    color: #212121;
}

a.nav-links.portfolio::after {
    content: "";
    display: block;
    position: relative;
    top: 25.5px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
}

.contacts-list {
    /* Agencja */
font-weight: 500;
font-size: 14px;
line-height: 100%;
}

.hero {
    max-width: 1600px;
    height: 600px;
    background-image: url("../images/img-main-background.jpg");
    position: relative;
}

.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    margin-bottom: 94px;
}

.title-main {
    /* EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    padding-bottom: 30px;

}

h1 {
    display: flex;
    max-width: 696px;
    text-align: center;
    margin: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    color: #FFFFFF;
    padding-top: 200px;
}

.order-button {
    display: flex;
    justify-content: center;
}

.button-main {
    /* bg */
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
}

title-lorem {
    /* LOREM IPSUM */
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.text-lorem {
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.box {
line-height: 171%;
color: #757575;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.about-us {
    /* Czym się zajmujemy */
font-weight: 700;
font-size: 36px;
line-height: 100%;
}

.about-us-title {
    background-color: #2f303acc;
    width: 100%;
    height: 70px;
    position: relative;
    top: -74px;
}

.about-us-text {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 27px;
    z-index: 1;
}

.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 50px;
}

.about-us-img {
width: 370px;
height: 294px;
}

.our-team {
    width: 1600px;
    background-color: #F5F4FA;
}

.our-team-title {
    /* Nasz zespół */
display: flex;
justify-content: center;
margin: 0 auto;
padding-bottom: 50px;
}

.card {
    /* card bg */
display: block;
width: 270px;
height: 428px;
/* material shadow v1 */
background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.card-icon {
    display: flex;
    justify-content: space-around;
    width: 206px;
    height: 56px;
    margin-left: 32px;
    gap: 10px;
    fill: #AFB1B8;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
}

.social-media-icons:hover {
    fill: #FFFFFF;
    background-color: #2196F3;

}

.clients {
    margin-bottom: 94px;
}

.our-clients {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 94px;

}

.clients-icons {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.clients-logo {
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
fill: #AFB1B8;
}

.clients-logo:hover {border-color: #2196F3;
    border-radius: 4px;}


.clients-logo:hover {
    fill: #2196F3;
}

.footer {
width: 1600px;
height: 252px;
background: #2F303A;
padding-top: 60px;
margin: 0px;
}

.footer-main {
    display: flex;
    justify-content: flex-start;
}

.address-footer {
    display: block;
    justify-content: flex-start;
    margin-right: 70px;
}

.footer-top-line {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 100%;
color: #FFFFFF;
padding-bottom: 20px;
}

.footer-location {
font-size: 14px;
line-height: 171%;
color: #FFFFFF;
letter-spacing: 0.03em;
}

.footer-contact {
font-size: 14px;
line-height: 171%;
color: rgba(255, 255, 255, 0.6);
letter-spacing: 0.03em;
}

.footer-contact-mail {
    font-size: 14px;
    line-height: 171%;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    }

.join-us-footer {
display: block;
}

.footer-social-media {
    display: flex;
    gap: 10px;
}

.social-media-icons-footer {
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
border: none;
border-radius: 22px;
cursor: pointer;
background-color: rgba(255, 255, 255, 0.1);
fill: #FFFFFF;
}

.social-media-icons-footer:hover {
    fill: #FFFFFF;
    background-color: #2196F3;
}

.join-us-title {
display: flex;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 20px;

}

.button-portfolio {
        /* button-portfolio */
    height: 38px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    
    color: #212121;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    }

a.button-portfolio:link {background-color: #F5F4FA; color: #212121}
a.button-portfolio:visited {background-color: #F5F4FA; color: #212121}
a.button-portfolio:hover {background-color: #2196F3; color: #FFFFFF;
/* shadow-middle */
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}
a.button-portfolio:active {background-color: #2196F3; color: #FFFFFF}

.project-card {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 404px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.project-card:hover,
.project-card:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}


.card-image {
    position: relative;
    overflow: hidden;
}

.card-image-overlay {
    width: 370px;
    height: 294px;
    background-color: #2196f3e6;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.card-image-overlay-text {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
}

.project-card:hover .card-image-overlay {
    transform: translateY(0);
}

.card-border {
    justify-content: flex-start;
    height: 110px;
    width: 370px;
    border: #EEEEEE 1px solid;
    border-top: none;
    margin: 0 auto;
    padding: 20px 24px;
}

.project-name {
font-weight: 700;
font-size: 18px;
line-height: 200%;
}

.project-description {
font-size: 16px;
line-height: 188%;
color: #757575;
}

.container {
    width: 1200px;
    margin: 0 200px;
    
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}

.team-main {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 93px;
}
.menu-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    row-gap: 46px;
    padding-top: 32px;
    margin-left: 0 ;
    }

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 254px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #212121;
}

.contacts-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 321px;
    padding-top: 32px;
    padding-bottom: 32px;
    row-gap: 30px;
    }

.contacts-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 321px;
    row-gap: 30px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts-item {
    display: flex;
    padding-right: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}



.contact-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0;
}

.contact-links:hover {
    fill: #2196F3;
}

.lorem-list {
    display:flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 94px;
}

.our-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}

.team-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card-name {
    color: #212121;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.portfolio-container {
    width: 572px;
    padding-top: 94px;
    padding-bottom: 34px;
    margin: 0 auto;
}

.position-name {
    color: #757575;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.portfolio-menu {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0px 22px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 94px;
}

.modal-backdrop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: not-allowed;
    transform: scale(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
}

.modal {
    display: flex;
    flex-direction: column ;
    position: absolute;
    left: 536px;
    top: 221px;
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.form-modal-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 40px;
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 8px;
}

.form-modal-title {
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
margin-top: 2px;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.label-title {
    display: block;
    font-style: normal;
    max-height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #757575;
    padding-bottom: 4px;
    margin: 10px 40px 10px 40px;
}

.label-title.comment {
    max-height: 138px;
} 

.label-title p {
    padding-bottom: 4px;
}

.input-box {
    display: block;
    width: 100%;
    max-height: 100%;
    position: relative;
    margin-bottom: 10px;
}

.input-box:hover svg {
    border-color: #2196F3;
    fill: #2196F3;
}

.label-title-policy {
    display: flex;
    align-items: center;
    position: relative;
    font-style: normal;
    max-height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 55px;
    margin-bottom: 30px;
}

.label-title-policy p {
    padding-left: 7px;
}

.checkbox-box {
    width: 16px;
    height: 15px;
    position: relative;
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
}

.checked-icon {
    position: absolute;
    width: 16px;
    height: 15px;
    visibility: hidden;
    pointer-events: none;
}

.unchecked-icon {
    position: absolute;
    width: 16px;
    height: 15px;
    visibility: hidden;
    pointer-events: none;
}

.checkbox-box:checked ~ .checked-icon {
    visibility: visible;
    background: red;
}

.checkbox-box:checked {
    background-image: url(/images/icons-checkbox.svg#icon-icon-checked-checkbox);
    z-index: 10;
}

.checkbox-box:not(:checked) ~ .unchecked-icon {
    visibility: visible;
}


.label-title-policy a {
    text-decoration: underline;
    color: #2196F3;
}

.button-modal {
width: 200px;
height: 50px;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 188%;
}

.input-icon {
    display: flex;
    position: absolute;
    fill: #212121;
    margin-top: 12px;
    margin-left: 11px;
}

.input-field {
    height: 40px;
    padding-left: 42px;
}


input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
input[type=text]:hover {
    border-color: #2196F3;
}
input[type=text]:focus {
    outline: none;
    border-color: #2196F3;
}


input[type=tel] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
input[type=tel]:hover {
    border-color: #2196F3;
}
input[type=tel]:focus {
    outline: none;
    border-color: #2196F3;
}


input[type=email] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
input[type=email]:hover {
    border-color: #2196F3;
}
input[type=email]:focus {
    outline: none;
    border-color: #2196F3;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    margin-left: 0;
}
textarea:hover {
    border-color: #2196F3;
}
textarea:focus {
    outline: none;
    border-color: #2196F3;
}

input placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.sign-up {
    display: block;
    justify-content: center;
    gap: 12px;
    margin-left: 78px;
}

.sign-up input[type=email] {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2F303A;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

.button-newsletter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    padding-left: 42px;
}

.newsletter-box {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.sign-up-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
}


.sign-up-button svg {
    fill: #fff;
    margin-right: 28px;
}