input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:hover {
        border-color: #2196F3;
    }

    &:focus {
        outline: none;
        border-color: #2196F3;
    }
}

